// COLOR PALETTE
$clr1: #ffffff;
$clr2: #9fc4f8;
$clr3: #d69049;
$clr4: #b5d6a7;
$clr5: #19191a;

//PADDING
$mainPad: 5px 10px;

// FONT
$comicFont: 'Comic Sans MS', 'Comic Sans', cursive;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;
